    <head>
    <meta charset="utf-8" />
    <title></title>
    <style type="text/css">
     /* body{
      margin: 0px;
     } */
     .zhezhao{
      position: fixed;
      left: 0px;
      top: 0px;
      background: #000;
      width: 100%;
      height: 100%;
      opacity: 0.5;
     }
     .tankuang{
      position: relative;
      background: #000;
      width: 50%;
      height: 80%;
      border-radius: 5px;
      margin: 5% auto;
     }
     .back{
        margin: 0px; 
     }
     #header{
      height: 40px;
     }
    </style>
   </head>
   <body class="back">
        <div class="tankuang">
            <div id="header">
            <span>我是弹窗</span>
            </div>
        </div>
        <script type="text/javascript">
        click("back", "tankuang");
        function click(name,box) {
            $(document).on("click", function(e) {
                var _conss = $('.'+name);//点击的容器范围
                if (!_conss.is(e.target) && _conss.has(e.target).length === 0) {
                    $("."+box).hide();//选择要关闭的容器
                }
            });
        }
        </script>
    </body>